.box {
  margin-top: 5vh;
  width: 100vw;
  height: 100vh;

  font-size: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 40%;
    height: 65%;
    padding: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient( 94.3deg,  rgb(37, 45, 80) 10.9%, rgba(81,84,115,1) 87.1% );

    h1 {
      font-size: 6vh;
      font-weight: 900;
      background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span {
      font-size: 2.5vh;
      color: white;

      background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      a {
        background-image: linear-gradient( 135deg, #97ABFF 10%, #b0c5ff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      a:hover {
        -webkit-text-fill-color: red;
      }
    }
  }

  mat-card-content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .input-box {
      font-size: 2vh;

      display: flex;
      flex-direction: column;
      width: 80%;

      span {
        -webkit-text-fill-color: red;
        font-weight: 200;
        font-size: 1.5vw;
        margin-bottom: 1vh;
      }

      mat-form-field {
        width: 100%;
        height: 10vh;

        mat-label {
          font-size: 2.5;
        }

        input {
          height: 100%;
          font-size: 2.5vh;
        }
      }
    }

    .buttons {
      margin-top: 6%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: 50%;

      button {
        font-size: 2.5vh;
        color: white;
        background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
        width: 100%;
        height: 8vh;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .box {
    mat-card {
      width: 40%;
    }

    form {
      .input-box {
        font-size: 1.8vh;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .box {
    mat-card {
      width: 60%;
    }

    form {
      .input-box {
        font-size: 1.5vh;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .box {
    mat-card {
      width: 80%;
    }
  }
}



