<app-header [msgComponent]="msgComponent"
            [component]="component">
</app-header>

<div class="box">
  <button routerLink="/home" class="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
        <div class="input-box">
          <mat-form-field>
            <mat-label>Usuário</mat-label>
            <input matInput disabled="true" [value]="usuario.getUsuario()">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="nome" [value]="usuario.getNome()">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput disabled="true" [value]="usuario.getEmail()">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo" [value]="usuario.getSexo()">
              <mat-option *ngFor="let s of sexo" [value]="s">
                {{ s }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="dataNascimento">
            <mat-hint>MM/dd/aaaa</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancelar</button>
                <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

        </div>

        <div class="buttons">
          <button mat-raised-button routerLink="/home">Cancelar</button>
          <button [disabled]="formUsuario.invalid"
                  mat-raised-button color="primary">
                  Confirmar
          </button>

        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>
