mat-toolbar {
  font-size: 1.5vh;
  font-weight: 900;
  height: 10vh;
  width: 100vw;

  display: flex;
  justify-content: space-between;

  background-image: linear-gradient( 94.3deg,  rgb(37, 45, 80) 10.9%, rgba(81,84,115,1) 87.1% );
  border: none;

  span {
    font-size: 2.5vw;
    position: relative;
    left: 10vw;

    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span:hover {
    background-image: linear-gradient( 135deg, #6877b1 10%, #123597 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  button {
    position: relative;
    right: 10vw;
    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 5vw;
    height: 8vh;

    mat-icon {
      height: 3vh;
      width: 3vw;
      font-size: 2vw;
    }
  }

  button:hover {
    background-image: linear-gradient( 94.3deg,  rgb(23, 33, 70) 10.9%, rgb(54, 56, 75) 87.1% );
  }
}

.container {
  width: 100vw;
  height: 92vh;
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgb(56, 58, 80) 87.1% );

  mat-drawer {
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgb(56, 58, 80) 87.1% );

    width: 10vw;
    height: 100%;
    border: none;

    button {
      width: 100%;
      height: 8vh;
      font-size: 1vw;

      background-color: transparent;
      border: none;
      background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      mat-icon {
        padding: 0;
        margin-left: 1vw;
        margin-right: 0.5vw;

        font-size: 2.3vw;
        height: 6vh;
        width: 3vw;
      }
    }

    .user {
      position: relative;
      top: 45%;
      bottom: 0;

      height: 12vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      mat-icon {
        font-size: 4vw;
        height: 8vh;
        width: 4vw;
      }
    }

    button:hover {
      background-image: linear-gradient( 135deg, #6877b1 10%, #123597 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }

  mat-drawer-content {
    color: white;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  }
}

@media screen and (max-width: 1200px) {
  mat-toolbar {
    span {
      font-size: 3vh;
    }
  }
  .container {
    mat-drawer {
      width: 15vw;

      button {
        width: 100%;
        height: 8vh;
        font-size: 1vw;

        mat-icon {
          margin-left: 0.5vw;
          margin-right: 0.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    mat-drawer {
      width: 20vw;

      button {
        width: 100%;
        height: 8vh;
        font-size: 1.5vh;

        mat-icon {
          margin-left: 0.5vw;
          margin-right: 0.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    mat-drawer {
      width: 23vw;

      button {
        width: 100%;
        height: 8vh;
        font-size: 1.5vh;

        mat-icon {
          margin-left: 0.5vw;
          margin-right: 0.5vw;
        }
      }
    }
  }
}
